/apk/
*.iml
.gradle
/local.properties
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
/.idea/dictionaries
/.idea/caches
/.idea/codeStyles
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
/app/debug
keystore.properties
